a {
	text-decoration: none;
}

.export_btn {
	font-family: "Inter";
	font-size: 0.875rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	padding: 0.625rem 1.25rem;
	background: rgba(18, 24, 40, 0.04);
	border-radius: 8px;
	cursor: pointer;
	border: 0;
	outline: 0;
}

.badge {
	display: inline-flex;
	align-items: center;
	font-size: 0.6875rem;
	font-weight: 600;
	color: #fff;
	line-height: 1;
	border-radius: 15px;
	letter-spacing: 1px;
	padding: 8px 12px;
	text-transform: uppercase;
	white-space: nowrap;
}

.badge--active {
	background: #14b8a6;
}

.badge--inactive {
	background: #d14343;
}

.badge--incomplete {
	background: #ffb020;
}

.badge--unassigned {
	background: #2196f3;
}

.swal2-styled.swal2-confirm:focus {
	box-shadow: none !important;
}