a {
	text-decoration: none;
}

.badge {
	display: inline-flex;
	align-items: center;
	font-size: 0.6875rem;
	font-weight: 600;
	color: #fff;
	line-height: 1;
	border-radius: 15px;
	letter-spacing: 1px;
	padding: 8px 12px;
	text-transform: uppercase;
	white-space: nowrap;
}

.badge--active {
	background: #14b8a6;
}

.badge--inactive {
	background: #d14343;
}

.badge--incomplete {
	background: #ffb020;
}

.badge--unassigned {
	background: #2196f3;
}